@font-face {
	font-family: 'argh';
	src: url('fonts/web-fonts/aaargh_normal_macroman/Aaargh-webfont.ttf');
}

.rating 
{
	display: none;
}

body 
{ 
	background-image: url('images/sand-background.jpg');
	margin: 0;
	text-align: center; 
}

#header
{
	margin-bottom: 30px;
}

#wrapper 
{ 
	display: block;
	margin: 0px auto;
	width: 90%;
}

#main-content 
{ 
	/*background: #A67753;*/
	background-image: url('images/brn-background.jpg');
	border: 24px solid #FFF;
	border-radius: 12px;
	margin: 0;
	padding: 50px;
}

#main-content p 
{
	margin: 0;
}

#delimiter { clear: both; }
#footer 
{ 
	background: #3766A5;
	color: white;
	margin-top: 30px;
	padding: 20px;
}

.title { font-size: 11pt; font-family: verdana; font-weight: bold; }

.ttw-music-player
{
	margin: 0 auto 0 auto;
	width: 60%;
}

.ttw-music-player .album-cover
{
	margin-bottom: 25px;
	margin-right: 30px;
}

/** Currently playing title **/

@media screen and (max-width: 639px)
{
	.ttw-music-player
	{
		width: 90%;
	}
}

@media screen and (max-width: 550px)
{
	#main-content
	{
		background: #FFF;
		padding: 0px;
	}

	.ttw-music-player
	{
		margin: 0;
		width: 90%;
	}
}

.ttw-music-player .track-info
{
	margin: 0px;
	margin-right: 20px;
}

.ttw-music-player .track-info .title /* currently playing title */
{
	font-family: 'argh';
	font-size: 20px;
	margin-bottom: 10px;
	overflow: hidden;
	padding-bottom: 7px;
	text-align: left;
}

.ttw-music-player .artist-outer
{
	font-family: 'argh';
	text-align: left;
}

.ttw-music-player .artist
{
	font-family: 'argh';
}

.ttw-music-player .player-controls
{
	background: #FFFFFF;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	margin-left: 0px;
	margin-bottom: 20px;
}

.ttw-music-player .progress-wrapper
{
	height: 1px;
	margin-top: 15px;
}

.ttw-music-player .progress
{
	height: 1px;
}

.ttw-music-player .elapsed
{
	height: 1px;
	margin: 0px;
}

.track
{
	font-family: 'argh';
}

.ttw-music-player .track .title
{
	font-family: 'argh';
}

.ttw-music-player .track .duration
{
	float: right;
	margin-right: 10px;
}

.tracks
{
	margin-left: 30px;
	/*padding-left: 30px !important;*/
	text-align: left;
}

@media screen and (max-width: 550px)
{
	.ttw-music-player
	{
		width: 90%;
	}

	.tracks
	{
		padding-left: 20px !important;
	}
}
